janome==0.4.2
summarizer==0.0.7
tiktoken==0.3.3
openai==0.27.4
requests==2.28.2
urllib3
beautifulsoup4==4.12.2
bs4==0.0.1
fake_useragent
PyPDF2==3.0.1
djangorestframework==3.14.0
PyAudio==0.2.13
pvporcupine==2.2.0
numpy==1.24.2
PyQt5==5.15.9
Django==4.2